package pages

import "github.com/fbold/futile.me/templates/layouts"

templ profile() {
	<div class="flex flex-col gap-2 max-w-[400px]"></div>
}

templ Profile() {
	@layouts.Layout() {
		@profile()
	}
}
