@import "tailwindcss" source("../../.");

@font-face {
  font-family: "NectoMono";
  src:
    url("/static/fonts/NectoMono-Regular.woff2") format("woff2"),
    url("/static/fonts/NectoMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #ffeedb;
  --color-secondary: #4a5d46;
  --color-surface: #171213;
  --color-accent: #8b85c1;

  --color-success: #57cc99;
  --color-danger: #f67b65;

  --font-main: "NectoMono", monospace;
}

html,
body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
}
