package components

import "github.com/fbold/futile.me/internal/markdown"

templ Document(content string) {
	<div
		class="peer resize-none focus:outline-none break-normal z-10 p-2 bg-surface  border-2 border-accent w-[400px] min-h-[100px] text-base"
	>
		@templ.Raw(markdown.Parse(content))
	</div>
}
