package components

templ Document(content string) {
	<div
		class="peer resize-none focus:outline-none z-10 p-2 bg-surface transition-[height,border] not-focus:h-[100px] focus:h-[400px] border-2 focus:border-b-0 border-accent w-[400px] h-[100px] text-base"
	>
		{ content }
	</div>
}
